.registration{
    background-color: 	rgb(66, 71, 78) ;
    border: 3px solid #363831;
    margin: 10%;
    padding: 8%;
    border-radius: 5px;
    display: grid;
    text-align: center;
}

label {
    color: white;

}

input {
    padding: 10px;
    margin: 10px auto;
    text-align: center;
    background-color: rgb(208, 215, 226);
    
}

footer {
    margin-top: 30px;
    text-align: center;
}

.link {
    color: rgb(156, 86, 247);
}